<h1>Register Page</h1>
<p>Say something worthwhile here.</p>
<br/>
<form action="/register" method="post" style='max-width: 300px;'>
    <input type='text' name="username" placeholder='Enter Username'/>
    <input type='password' name="password" placeholder='Password'/>
    <button type='submit' value='Submit'>Submit</button>
     <button type='button' value='cancel'><a href="/"> Cancel </a></button>
</form>